.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
functions/node_modules/
android/.gradle/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
.env
*.jks
*.keystore
